@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";

@layer components {
  body {
    font-family: "Lekton", sans-serif;
    font-size: 1rem; /* 16px baseline */
  }

  h1 {
    font-size: 1.8rem; /* 32px */
    font-weight: 700;
  }

  h2 {
    font-size: 1.3rem; /* 24px */
    font-weight: 600;
  }

  nav {
    font-size: 1.1rem; /* 18px */
  }

  button {
    font-size: 1rem;
    font-weight: 500;
  }
}